{% extends "theme/index.html" %}
{% load static %}
{% block clients_home %}
<div class="row">
    <div class="col-4">
        <a href="#" class="btn btn-sm btn-dark">+ اضافة مفتش جديد</a>
    </div>
</div>

<div class="row mt-2">
    <div class="card">
    <div class="col-12 card-body">
        <table class="table table-striped">
            <tr>
                <thead class="bg-dark">
                    <tr>
                        <th>المفتش</th>
                        <th>التقارير</th>
                        <th>النظام</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>اسعد عمر قلي</td>
                        <td><a href="#" class="btn btn-sm btn-primary"> عرض</a></td>
                        <td><a href="#" class="btn btn-sm btn-primary"> اعدادات الحساب</td>
                    </tr>
                    <tr>
                        <td>محمد مسعود</td>
                        <td><a href="#" class="btn btn-sm btn-primary"> عرض</a></td>
                        <td><a href="#" class="btn btn-sm btn-primary"> اعدادات الحساب</td>
                    </tr>
                    <tr>
                        <td>ناصر محمد</td>
                        <td><a href="#" class="btn btn-sm btn-primary"> عرض</a></td>
                        <td><a href="#" class="btn btn-sm btn-primary"> اعدادات الحساب</td>
                    </tr>
                    <tr>
                        <td>مصطفى سعد</td>
                        <td><a href="#" class="btn btn-sm btn-primary"> عرض</a></td>
                        <td><a href="#" class="btn btn-sm btn-primary"> اعدادات الحساب</td>
                    </tr>
                </tbody>
            </tr>
        </table>
    </div>

</div></div>

{% endblock %}