{% extends "theme/index.html" %}
{% load static %}
<!--اسم المستخدم-->
{% block username %}
{{username}}
 {% endblock %}
 {% block username2 %}
 {{username}}
  {% endblock %}

<!--ًصورة المستخدم-->
  {% block profileImg %}
  <img alt="avatar" src="../../../{{img}}" class="rounded-circle">
  {% endblock %}
  {% block profileImg2 %}
  <img alt="avatar" src="../../../{{img}}" class="rounded-circle">
  {% endblock %}

{% block clients_home %}

<!-- التنبيهات-->
{% if messages %}
        {% for message in messages %}
            <input type="text" id="alert" value="{{ message }}" hidden >
        {% endfor %}
{% endif %}


<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <label><img src="{% static 'src/assets/img/Logo 2.svg' %}" alt="avatar" width="80px"><b>إدارة المفتشين</b></label>        
                    <div>
                        <a href="{% url 'new_inspectors_form' %}" class="btn btn-sm btn-primary" >+ اضافة مفتش جديد</a>

                </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container ">
    <div class="row">
        {% for e in emps %}
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card mt-4">
                <div class="card-header shadow" style="background: linear-gradient(45deg, rgba(98,91,255,0.2), rgba(10,208,172,0.2));">
                  <img alt="avatar" src="../../../{{ e.profile_img }}" class="rounded-circle" style="width:50px; height:50px; object-fit:cover;">
                  <span style="font-weight: bold; margin-right: 10px;"> {{e.user.first_name}} {{e.user.last_name}}</span>
                </div>
                <div class="card-body">

                    <p style="color:#02024b"><b> <i class="material-icons"style="color:#625bff">person</i> {{e.user}}</b></p>
                    <p style="color:#02024b">
                      <i class="material-icons"  style="color:#625bff">call</i>
                      {{e.mobile}}</p>
                    <p style="color:#02024b">
                      <i class="material-icons"  style="color:#625bff">email</i>
                      {{e.user.email}}</p> 
                </div>
                <div class="card-footer">
                    <a href="{% url 'edit_Inspectors' e.id %}"  class="btn btn-sm btn-primary">تعديل</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



   <!-- Modal -->
   <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">اضافة مدير علامة تجارية</h5>
         
        </div>
        <div class="modal-body">
         
            <form class="section general-info pt-4" method="post" action="#" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12  pt-4">
                            <div class="form-group">
                                <div class="col-lg-4 layout-spacing"   >
                                    <select class="form-select" aria-label="Default select example" name="mngr">
                                        {% for m in mngs %}
                                        <option value="{{m.id}}">{{m.user}}</option>
                                        {% endfor %}
                                    </select>                   
                                </div>
                            </div>
                         </div>
                    </div>
                    <button  class="btn btn-primary" type="submit" >حفظ</button>
                </form>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
        </div>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script>
  
    let alerts= document.getElementById("alert").value;
      //alert(alerts)
      
       if( alerts == 'exist'){
          Swal.fire({
           title: "موجود مسبقاً",
           text: "لم يتم انشاء طلب لوجود طلب سابق في لنفس الربع السنوي",
           icon: "error"
           });         
       } else if ( alerts == 'success_newuser'){
        Swal.fire({
         title: "تم انشاء الحساب",
         text: "تم انشاء الحساب بنجاح",
         icon: "success"
         });         
     }else if ( alerts == 'edit'){
        Swal.fire({
         title: "تم التعديل",
         text: "تم تعديل الحساب بنجاح",
         icon: "success"
         });         
     }
  </script>

{% endblock %}