{% extends "index.html" %}
{% load static %}

{% block dashbordMenu %}
{% if position == '0' %}
<a href="{% url 'gm_dashboard' y q %}" aria-expanded="false" class="dropdown-toggle">
    <div class="">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg>
        <span>لوحة المعلومات</span>
    </div>
</a>
{% endif %}
{%endblock %}


<!--تمرير اسم المدير للملف الممتد index-->
{% block mngName1 %} 
 {{mngName}}
{%endblock %}

{% block mngName2 %} 
 {{mngName}}
{%endblock %} 
<!--تمرير منصب المدير للملف الممتد index-->
{% block mngPostion1 %} 
 {{mngPostion}}
{%endblock %}

{% block mngPostion2 %} 
 {{mngPostion}}
{%endblock %}
<!--قائمة البراندات-->

<!--ًصورة المستخدم-->
{% block profileImg %}
<img alt="avatar" src="../../../../../{{companyLogo}}" class="rounded-circle">
{% endblock %}
{% block profileImg2 %}
<img alt="avatar" src="../../../../../{{companyLogo}}" class="rounded-circle">
{% endblock %}


{% block menubr %}
    {% if menubrands %}
        {% for b in menubrands %}
            <li>
                <a href="{% url 'regions_rate' b.id y q %}"> {{b.description}}</a>
            </li>
        {% endfor %}
    {% endif %}
{% endblock %}


{% block qurter %}
<div class="col-8 ">
    <form action="#" method="post" class="form">
        {% csrf_token %}
        <div class="row align-items-center">
            <!-- حقل الربع -->
            <div class="col-md-3">
                <select class="form-control form-control-sm" name="quarter">
                    <option value="q1">الربع الأول</option>
                    <option value="q2">الربع الثاني</option>
                    <option value="q3">الربع الثالث</option>
                    <option value="q4">الربع الرابع</option>
                    <option value="0">سنة</option>
                </select>
            </div>

            <!-- حقل السنة (ديناميكي) -->
            <div class="col-md-2">
                <select class="form-control form-control-sm" name="year">
                    {% for year in years %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- زر الإرسال -->
            <div class="col-md-2">
                <button type="submit" class="btn btn-secondary btn-sm w-100">عرض</button>
            </div>
        </div>
    </form>
</div>

{%endblock %}

{% block home %}
<!-- BREADCRUMB -->
 <!-- Form -->
 <div class="row mb-4 align-items-center">
  <!-- Logo and Brand -->
  
  <div class="col-12">
    <h3 class="mb-0">
    <img src="../../../../../{{companyLogo}}" style="width: 50px; height: auto;" alt="Logo"/>
    {{companyName}}
    
</h3> 
  </div>

</div>

<div>

<div class="col-5 p-2 mb-4 mt-2" style=" background-color: #f1f1f1; height: 40px; border-radius: 50px;">
  {% if position == '0' %}<a href="{% url 'departments_rate' y q  %}" class="mt-4"> <b>لوحة بيانات الإدارات</b>  </a>   >{% endif %} <b>ادارة {{depName}}</b>
</div>
<!-- /BREADCRUMB -->
<div class="row">
  <div class="col-12 pb-4">
    <p style="color:#02024B;"><b style="font-size: 20px;">|  ادارة {{depName}}  </b>
      {% if q == 'q1' %} 
      <h6 style="color:#625BFF ;">  الربع الأول {{ y }}</h6>
      {% elif q == 'q2' %}  
      <h6 style="color:#625BFF ;">  الربع الثاني {{ y }}</h6>
      {% elif q == 'q3' %}  
      <h6 style="color:#625BFF ;">  الربع الثالث {{ y }}</h6>
      {% elif q == 'q4' %}  
      <h6 style="color:#625BFF ;">  الربع الرابع {{ y }}</h6>
      {% elif q == '0' %}  
      <h6 style="color:#625BFF ;">  سنة {{ y }}</h6>
      {% endif %}
  
  </div>
</div>

<div class="row">
  {% if row %}
    {% for r in row %}
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <b style="color:#02024B">| {{r.secName}}</b>
            <h2 style="color:#625BFF ;">{{r.percentage}}%</h2>
           <p style="color:#02024B"><b>مدير القسم:</b>  {{r.secMng}}</p>
           <p style="color:#02024B"><b>العلامة التجارية:</b>  {{r.brandName}}</p>
           <a class="btn btn-secondary btn-sm" href="{% url 'terms_rate' r.id y q %}">تفاصيل أكثر</a>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}


 {% endblock %}
