{% extends "index.html" %}
{% load static %}

{% block dashbordMenu %}
{% if position == '0' %}
<a href="{% url 'gm_dashboard' y q %}" aria-expanded="false" class="dropdown-toggle">
    <div class="">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg>
        <span>لوحة المعلومات</span>
    </div>
</a>
{% endif %}
{%endblock %}


{% block menubr %}
    {% if menubrands %}
        {% for b in menubrands %}
            <li>
                <a href="{% url 'regions_rate' b.id y q %}"> {{b.description}}</a>
            </li>
        {% endfor %}
    {% endif %}
{% endblock %}


<!--ًصورة المستخدم-->
{% block profileImg %}
<img alt="avatar" src="../../../../../{{companyLogo}}" class="rounded-circle img-thumbnail" style="width: 50px; height: 50px; object-fit: cover; margin-left: 5px;">
{% endblock %}
{% block profileImg2 %}
<img alt="avatar" src="../../../../../{{companyLogo}}" class="rounded-circle">
{% endblock %}

{% block qurter %}
<li class="nav-item">

  {% if q == 'q1' %}
  <a href="#" data-bs-toggle="modal" data-bs-target="#quarterModal" class="btn btn-sm btn-primary"> الربع الأول {{y}}
  </a>
  {% elif q == 'q2' %}
  <a href="#" data-bs-toggle="modal" data-bs-target="#quarterModal" class="btn btn-sm btn-primary"> الربع الثاني {{y}}
  </a>
  {% elif q == 'q3' %}
  <a href="#" data-bs-toggle="modal" data-bs-target="#quarterModal" class="btn btn-sm btn-primary"> الربع الثالث {{y}}
  </a>
  {% elif q == 'q4' %}
  <a href="#" data-bs-toggle="modal" data-bs-target="#quarterModal" class="btn btn-sm btn-primary"> الربع الرابع {{y}}
  </a>
  {% elif q == '0' %}
  <a href="#" data-bs-toggle="modal" data-bs-target="#quarterModal" class="btn btn-sm btn-primary"> سنه {{y}} </a>
  {% endif %}
</li>
{%endblock %}


<!--company name-->
{% block companyName %}
<b style="display: flex; align-items: center; gap: 10px; color: #02024b;">
  {{companyName}}
</b>
{% endblock %}
<!--company name-->

{% block home %}

<div class="layout-px-spacing">

    <div class="middle-content p-0">

        <div class="statbox widget box box-shadow layout-top-spacing ">
            <div class="text-center">
                <img alt="avatar" src="../../static/src/assets/img/Logo 2.svg" width="300px" >
            </div>


                <div class="contact-us-form">

                    <div class="row gx-5">

                        <div class="col-md-12 ">

                            <div class="paper contact-us-info-section-1">

                                <div class="row gx-5">
                                    <div class="col-12 text-center">
                                        <h4 class="contact-title">تحدث إلينا</h4>
                                    </div>

                                    <div class="col-xl-4 col-lg-6 col-md-6 mb-3">
                                        
                                        <div class="widget-paper">
                                            
                                            <h5>شركة كلاود تيم</h5>
                                            <p>+1 (070) 123 457</p>
                                            
                                        </div>
                                    </div>

                                    <div class="col-xl-4 col-lg-6 col-md-6 mb-3">

                                        <div class="widget-paper">
                                            
                                            <h5>مدير الحساب</h5>
                                            <p>+1 (120) 456 789</p>
                                            
                                        </div>

                                    </div>

                                    <div class="col-xl-4 col-lg-6 col-md-6 mb-3 mx-auto">

                                        <div class="widget-paper">
                                            
                                            <h5>الدعم الفني</h5>
                                            <p>+1 (218) 356 954</p>
                                            
                                        </div>

                                    </div>


                                    <div class="col-12 mt-5 text-center">
                                        <h4 class="contact-title">راسلنا على</h4>
                                    </div>

                                    <div class="col-xl-4 col-lg-6 col-md-6 mb-3">

                                        <div class="widget-paper">
                                            
                                            <div class="icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-help" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <circle cx="12" cy="12" r="9"></circle>
                                                    <line x1="12" y1="17" x2="12" y2="17.01"></line>
                                                    <path d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4"></path>
                                                    </svg>
                                            </div>
                                            
                                            <h5>الدعم الفني</h5>
                                            <p>info@mail.com</p>
                                            
                                        </div>

                                    </div>


                                    <div class="col-xl-4 col-lg-6 col-md-6 mb-3">

                                        <div class="widget-paper">
                                            
                                            <div class="icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M12 20l-3 -3h-2a3 3 0 0 1 -3 -3v-6a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-2l-3 3"></path>
                                                    <line x1="8" y1="9" x2="16" y2="9"></line>
                                                    <line x1="8" y1="13" x2="14" y2="13"></line>
                                                    </svg>
                                            </div>
                                            
                                            <h5>الادارة</h5>
                                            <p>enquire@mail.com</p>
                                            
                                        </div>

                                    </div>


                                    <div class="col-xl-4 col-lg-6 col-md-6 mb-3 mx-auto">

                                        <div class="widget-paper">
                                            
                                            <div class="icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-report-analytics" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"></path>
                                                    <rect x="9" y="3" width="6" height="4" rx="2"></rect>
                                                    <path d="M9 17v-5"></path>
                                                    <path d="M12 17v-1"></path>
                                                    <path d="M15 17v-3"></path>
                                                    </svg>
                                            </div>
                                            
                                            <h5>المبيعات</h5>
                                            <p>sales@mail.com</p>
                                            
                                        </div>

                                    </div>
                                    
                                </div>
                                                                            
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>


        </div>

    </div>

</div>

 <!-- BEGIN PAGE LEVEL SCRIPTS -->

 <script src="{% static '/src/plugins/src/leaflet/us-states.js'%}"></script>
 <script src="{% static '/src/plugins/src/leaflet/eu-countries.js'%}"></script>
 <script src="{% static '/src/plugins/src/leaflet/leaflet.js'%}"></script>
 

  
{% endblock %}