{% extends "index.html" %}
{% load static %}
{% block home %}



                    <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                        <form class="section general-info">
                            <div class="info">
                                <h6 class="">البيانات الشخصية</h6>
                                <div class="row">
                                    <div class="col-lg-11 mx-auto">
                                        <div class="row">
                                           
                                            <div class="col-xl-10 col-lg-12 col-md-8 mt-md-0 mt-4">
                                                <div class="form">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="fullName">الاسم</label>
                                                                <input type="text" class="form-control mb-3" id="fullName" placeholder="Full Name" value="نايف الدوغان">
                                                            </div>
                                                        </div>

                                                      
                                                        
                                                   
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="phone">رقم الجوال</label>
                                                                <input type="text" class="form-control mb-3" id="phone" placeholder="Write your phone number here" value="+1 (530) 555-12121">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="email">الايميل</label>
                                                                <input type="text" class="form-control mb-3" id="email" placeholder="Write your email here" value="Jimmy@gmail.com">
                                                            </div>
                                                        </div>                                    

                                                        <div class="col-md-12 mt-1">
                                                            <div class="form-group text-end">
                                                                <button class="btn btn-secondary">حفظ</button>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

               

  
{% endblock %}