{% extends "index.html" %}
{% load static %}
{% block home %}
<!-- 
صفحة الاستعلامات
- مكونات الفلتر
-- نوع البحث 

---اسم مسؤول
----دروب داون لست لاسماء المسؤولين

--- فرع
---- اختيار الدوله
----اختيار المنطقة 
---- اختيار الحي
---- اختيار الفرع

--- رقم فرع - اسم فرع - اسم مسؤول - كلمة مفتاحية في بند

-- تاريخ
--------------------
نتائج البحث 
جدول يظهر فية البنود مع امكانية تعديل النتيجه من الأدمن
-->
<!-- BREADCRUMB -->
<div class="page-meta">
    <nav class="breadcrumb-style-one" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">لوحة التحكم</a></li>
            <li class="breadcrumb-item active" aria-current="page">استعلام الفروع</li> 
        </ol>
    </nav>
</div>
<!-- /BREADCRUMB -->


<!-- مربع البحث-->
<div class="row layout-top-spacing">
    <div class="col-lg-12 layout-spacing">
        <div class="card p-4">
            {% csrf_token %}
                <div class="row">

                    <div class="col-lg-2 layout-spacing">
                        <select class="form-select" aria-label="Default select example" id="brand">    
                            <option value="0">اختر البراند</option>                        
                           <!-- عرض جميع المناطق من قاعدة البياناتة-->
                            {% if brands %}
                              {% for brand in brands %}
                                <option value="{{brand.id}}">{{brand.description}}</option>
                                {% endfor %}
                            {% endif %}

                          </select>                   
                    </div>

       
                   
                    <!-- <label> الفروع</label> -->
                    <!-- <div class="col-lg-4 layout-spacing">
                        <select class="form-select" aria-label="Default select example" id="country">
                            <option selected>الدولة</option>
                           
                            {% if countries %}
                                {% for country in countries %}
                                <option value="{{country.id}}">{{country.name}}</option>
                                {% endfor %}
                            {% endif %}

                          </select>                   
                    </div> -->
                    <div class="col-lg-2 layout-spacing">
                        <select class="form-select" aria-label="Default select example" id="region">
                            <option value="">المنطقة</option>
                            
                            <option value="0">الكل</option><!--اذا تم اختيار الكل يتم اخفاء الخيار اللي بعده-->
                           <!-- عرض جميع المناطق من قاعدة البياناتة-->
                            {% if regions %}
                              {% for region in regions %}
                                <option value="{{region.id}}">{{region.name}}</option>
                                {% endfor %}
                            {% endif %}

                          </select>                   
                    </div>
                    <div class="col-lg-2 layout-spacing"   >
                        <select class="form-select" aria-label="Default select example" style="display: none;"  id="city">
                            <option selected>المدينة</option>

                          </select>                   
                    </div>
                    <div class="col-lg-2 layout-spacing"   >
                        <select class="form-select" aria-label="Default select example" style="display: none;"  id="district">
                            <option selected>الحي</option>
                          </select>                   
                    </div>
                    <div class="col-lg-2 layout-spacing">
                        <select class="form-select" aria-label="Default select example" style="display: none;"  id="branch">
                            <option selected>الفرع</option>
                          </select>                   
                    </div>
                </div>
                <!-- end -->
                <div class="row" >
                    <div class="col-lg-3 layout-spacing">
                        <select class="form-select" aria-label="Default select example" id="report" style="display: none;">                            
                            <option value="">اخر تقرير جودة</option>
                          </select>                   
                    </div>
       
                    <div class="col-lg-4 layout-spacing">
                        <select class="form-select" aria-label="Default select example"  id="evalu" style="display: none;">
                            <option disabled>التنفيذ</option>
                            <option value="0">الكل</option>
                            <option value="1">نعم</option>
                            <option value="2">لا</option>
                            <option value="3">مستبعد</option>
                          </select>                   
                    </div> 
                   
                    
                </div>
                <div class="col-lg-12 layout-spacing">
                    <button class="btn btn-primary col-lg-2" id="fillter_btn">استعلام</button> 
                </div>

         </div>  
    </div>                
</div>
<!-- نهاية مربع البحث-->

<!-- مربع النتايج-->
<div class="row layout-top-spacing">
    <div class="col-lg-12 layout-spacing">
        <div class="card p-4">
            
            <!--per-->
           
            <div id="per">

            </div>
            <!---->
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead id="thead_custom">
                       
                    </thead>
                    <tbody id="result-table">
                        
                      
                    </tbody>
                </table>
            </div>

         </div>  
    </div>                
<!-- نهاية النتائح-->

<!-- yes no form-->
<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">تغيير التقييم</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                  <svg> ... </svg>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 ">
                    <select class="form-select text-center col-3" aria-label="Default select example">
                    <option value="1">نعم</option>
                    <option value="0">لا</option>
                    <option value="1">مستبعد</option>
                </select>            
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-bs-dismiss="modal"><i class="flaticon-cancel-12"></i> اغلاق</button>
                <button type="button" class="btn btn-primary">حفظ</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="sliderModal" tabindex="-1" role="dialog" aria-labelledby="basicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" id="basicModalLabel" role="document">
      <div class="modal-content">
          <div class="modal-body p-4" >
              <!-- content from js file -->
              <table class="table table-striped text-center">
                <thead>
                  <th>الموظف</th>
                  <th>القسم</th>
                </thead>
                <tbody id="model_responsible">

                </tbody>
              </table>
                
            </div>
          </div>
      </div>
    </div>
</div>
 <!-- img Modal -->

 <div class="modal fade" id="imgsliderModal" tabindex="-1" role="dialog" aria-labelledby="basicModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" id="basicModalLabel2" role="document">
    <div class="modal-content">
        <div class="modal-body p-0">
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                  <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
            </button> -->
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">  
                  <div class="carousel-item active" id="img_model">
                      
                  </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>
<!--end ing model-->                                                            
                                                        
<!-- Modal -->
<script src="{% static 'appjs/clients/countries_dependent.js'%}"></script>
<script src="{% static 'appjs/clients/department_search_btn.js'%}"></script>
<script src="{% static 'appjs/clients/reports_dependent.js'%}"></script>


{% endblock %}