{% extends "index.html" %}
{% load static %}
{% block home %}
 <!-- BREADCRUMB -->
 <div class="page-meta">
    <nav class="breadcrumb-style-one" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">شركة   ماكدونالدز</a></li>
            <li class="breadcrumb-item " aria-current="page"><a href="#">الرياض</a></li>
            <li class="breadcrumb-item " aria-current="page">حي السلام</li>
            <li class="breadcrumb-item " aria-current="page">c1003  فرع</li>
            <li class="breadcrumb-item active" aria-current="page">20/03/2024</li>

            
        </ol>
    </nav>
</div>
<!-- /BREADCRUMB -->

<div class="row layout-top-spacing">
    <div class="col-lg-12 layout-spacing">
        <div class="statbox widget box box-shadow">
            <div id="accordionBasic" class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4><span>تقرير  الجودة - 10214</span> <h2>95%</h2> </h4>
                    </div>
                </div>
            </div> 
            <div class="widget-content widget-content-area p-2">
                    <!---------------------------start loop items--------------------------------------------------->
                    <div class="card mb-2">
                        <div class="card-header" id="headingOne1">
                            <section class="mb-0 mt-0">
                                <div role="menu" class="collapsed" data-bs-toggle="collapse" data-bs-target="#defaultAccordionOne" aria-expanded="false" aria-controls="defaultAccordionOne">
                                  <div class="icons">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                    <span>الموارد البشرية</span>      <span>93%</span>  
                                </div>
                                </div>
                            </section>
                        </div>
            
                        <div id="defaultAccordionOne" class="collapse" aria-labelledby="headingOne1" data-bs-parent="#toggleAccordion">
                     <!---->
                            <table id="zero-config" class="table dt-table-hover" style="width:100%">
                                    
                                    <tbody>
                                        <thead>
                                                <th colspan="3" class="text-center "> التطوير و التدريب</th>
                                        </thead>
                                        <tr>
                                            <td>سلامة ادوات دورات المياة</td>
                                            <td><span class="badge badge-success">Y</span> 
                                            </td>
                                            <td class="text-center"> </td>
                                        </tr>
                                        <tr>
                                            <td>سلامة ادوات الطبخ</td>
                                            <td> 
                                                <span class="badge badge-danger">N</span> 
                                            </td>
                                            <td class="text-center"> 
                                                 <button type="button" class="btn btn-danger mb-2 me-4" data-bs-toggle="modal" data-bs-target="#sliderModal">
                                                مرفقات
                                              </button> 
                                            </td>
                                        </tr>
                                        <thead>
                                            <th colspan="3" class="text-center "> التطوير و التدريب</th>
                                    </thead>
                                    <tr>
                                        <td>سلامة ادوات دورات المياة</td>
                                        <td><span class="badge badge-success">Y</span> 
                                        </td>
                                        <td class="text-center"> </td>
                                    </tr>
                                    <tr>
                                        <td>سلامة ادوات دورات المياة</td>
                                        <td> 
                                            <span class="badge badge-danger">N</span> 
                                        </td>
                                        <!-- <td class="text-center"> <a href="#">مرفقات</a> </td> -->
                                    </tr>
                                    </tbody>
                            
                            </table>
                            <!--end table  -->
                          </div>  <!--end defaultAccordionOne-->
                    </div>
                    <!----------------------------- نهايه الكرت-------------------------------------------------------->
                    <!---->
                 
                    <!---->

            </div><!--toggleAccordion-->
            <div class="widget-content widget-content-area p-2">
                <div class="card">
                    <div class="card-header" id="headingOne2">
                        <section class="mb-0 mt-0">
                            <div role="menu" class="collapsed" data-bs-toggle="collapse" data-bs-target="#defaultAccordionOne1" aria-expanded="false" aria-controls="defaultAccordionOne1">
                              <div class="icons">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                <span>التشغيل</span>      <span>98% </span>  
                            </div>
                            </div>
                        </section>
                    </div>
        
                    <div id="defaultAccordionOne1" class="collapse" aria-labelledby="headingOne2" data-bs-parent="#toggleAccordion">
                 <!---->
                        <table id="zero-config2" class="table dt-table-hover" style="width:100%">
                                
                                <tbody>
                                    <thead>
                                            <th colspan="3" class="text-center "> التطوير و التدريب</th>
                                    </thead>
                                    <tr>
                                        <td>سلامة ادوات دورات المياة</td>
                                        <td><span class="badge badge-success">Y</span> 
                                        </td>
                                        <td class="text-center"> </td>
                                    </tr>
                                    <tr>
                                        <td>سلامة ادوات دورات المياة</td>
                                        <td> 
                                            <span class="badge badge-danger">N</span> 
                                        </td>
                                        <!-- <td class="text-center"> <a href="#">مرفقات</a> </td> -->
                                    </tr>
                                    <thead>
                                        <th colspan="3" class="text-center "> التطوير و التدريب</th>
                                </thead>
                                <tr>
                                    <td>سلامة ادوات دورات المياة</td>
                                    <td><span class="badge badge-success">Y</span> 
                                    </td>
                                    <td class="text-center"> </td>
                                </tr>
                                <tr>
                                    <td>سلامة ادوات دورات المياة</td>
                                    <td> 
                                        <span class="badge badge-danger">N</span> 
                                    </td>
                                    <!-- <td class="text-center"> <a href="#">مرفقات</a> </td> -->
                                </tr>
                                </tbody>
                        
                        </table>
                        <!--end table  -->
                      </div>  <!--end defaultAccordionOne-->
                </div><!-- نهايه الكرت-->
            </div> <!-- end toggle according-->


         </div><!--end widget-content widget-content-area br-8-->            
    </div><!--end col-xl-12 col-lg-12 col-sm-12  layout-spacing-->                
</div> <!--row layout-top-spacing-->    



  <!-- Modal -->

  <div class="modal fade" id="sliderModal" tabindex="-1" role="dialog" aria-labelledby="basicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" id="basicModalLabel" role="document">
      <div class="modal-content">
          <div class="modal-body p-0">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
              </button>
              <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">  
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="{% static '/src/assets/img/2.jpg'%}" alt="Third slide">
                    </div>
                </div>
            </div>
          </div>
      </div>
    </div>
</div>

{% endblock %}