{% extends "index.html" %}
{% load static %}

<!--تمرير اسم المدير للملف الممتد index-->
{% block mngName1 %} 
 {{mngName}}
{%endblock %}

{% block mngName2 %} 
 {{mngName}}
{%endblock %} 
<!--تمرير منصب المدير للملف الممتد index-->
{% block mngPostion1 %} 
 {{mngPostion}}
{%endblock %}

{% block mngPostion2 %} 
 {{mngPostion}}
{%endblock %}
<!--قائمة البراندات-->
{% block menubr %}

    {% if menubrands %}
        {% for b in menubrands %}
            <li>
                <a href="{% url 'regions_rate' b.brandid  %}"> {{b.brandName}}</a>
            </li>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block home %}

        {% for b in brands %}
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
            <div class="widget widget-card-five text-center">
                <div class="widget-content">
                    <div class="account-box">

                        <div class="info-box">
                            <div class="icon">
                                <span>
                                    <img src="../../../{{b.logo}}" alt="money-bag" width="100%">
                                </span>
                            </div>
                            
                            <div class="balance-info text-center">                              
                                <h6>  الربع الأول</h6>
                                <p class="text-white badge-primary text-center">% 86</p>
                                <p>{{b.description}}</p>
                                <select class="form-control mt-4">
                                    <option>الربع الأول</option>
                                    <option>الربع الثاني</option>
                                    <option>الربع الثالث</option>
                                    <option>الربع الرابع</option>
                                </select>
                            </div>
                        </div>
                        <div class="card-bottom-section">
                            <a href="javascript:void(0);" class="">تفاصيل أكثر</a>
                            <div><span class="badge badge-light-success">+ 3.2% <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up"><polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline><polyline points="17 6 23 6 23 12"></polyline></svg></span></div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>الربع الأول</th>
                            <th>الربع الثاني</th>
                            <th>الربع الثالث</th>
                            <th>الربع الرابع</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>88%</td>
                            <td>91%</td>
                            <td>96%</td>
                            <td>96%</td>
                        </tr>
                    </tbody>
                </table>
               
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>الموارد البشرية ادارة</th>
                            <th>الصيانه ادارة</th>
                            <th>المشتريات ادارة</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>88%</td>
                            <td>91%</td>
                            <td>96%</td>
                        </tr>
                    </tbody>
                </table>

          
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>الشرقية</th>
                            <th>الوسطى</th>
                            <th>الغربية</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>88%</td>
                            <td>91%</td>
                            <td>96%</td>
                        </tr>
                    </tbody>
                </table>

               
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>9001 فرع</th>
                            <th>8001 فرع</th>
                            <th>3002 فرع</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>88%</td>
                            <td>91%</td>
                            <td>96%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
         </div>

         {% endfor %}
        <!---->
{%endblock%}