{% extends "theme/index.html" %}
{% load static %}
{% block clients_home %}

<div class="col-lg-12 ">
   
    <div class="searchable-container card">
        <div class="card-header">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12 text-center">
                    <h4>قائمة الشركات</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="searchable-items">
                    <div class="items">
                        <div class="user-profile">
                            <img src="{% static '/src/assets/img/clients/perfctcoffee.png'%}" alt="avatar">
                        </div>
                        <div class="user-name">
                            <p class="">القهوة المثالية</p>
                        </div>
                        <div class="user-email">
                            <p>alan@mail.com</p>
                        </div>
                        <div class="user-status">
                            <span class="badge outline-badge-info">فعال</span>
                        </div>
                        <div class="action-btn">
                            <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg></p>
                        </div>
                    </div>

                    <div class="items">
                        <div class="user-profile">
                            <img src="{% static '/src/assets/img/clients/mac.png'%}" alt="avatar">
                        </div>
                        <div class="user-name">
                            <p class="">ماكدونالدز</p>
                        </div>
                        <div class="user-email">
                            <p>Linda@mail.com</p>
                        </div>
                        <div class="user-status">
                            <span class="badge outline-badge-danger">غير فعال</span>
                        </div>
                        <div class="action-btn">
                            <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg></p>
                        </div>
                    </div>

                    <div class="items">
                        <div class="user-profile">
                            <img src="{% static '/src/assets/img/clients/dunkin.png'%}" alt="avatar">
                        </div>
                        <div class="user-name">
                            <p class="">دانكن</p>
                        </div>
                        <div class="user-email">
                            <p>Lila@mail.com</p>
                        </div>
                        <div class="user-status">
                            <span class="badge outline-badge-warning">مغلق</span>
                        </div>
                        <div class="action-btn">
                            <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg></p>
                        </div>
                    </div> 


                    <div class="items">
                        <div class="user-profile">
                            <img src="{% static '/src/assets/img/clients/kfc.jpeg'%}" alt="avatar">
                        </div>
                        <div class="user-name">
                            <p class="">كنتاكي</p>
                        </div>
                        <div class="user-email">
                            <p>Andy@mail.com</p>
                        </div>
                        <div class="user-status">
                            <span class="badge outline-badge-info">نشط</span>
                        </div>
                        <div class="action-btn">
                            <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg></p>
                        </div>
                    </div> 

                    <div class="items">
                        <div class="user-profile">
                            <img src="{% static '/src/assets/img/clients/king.jpeg'%}" alt="avatar">
                        </div>
                        <div class="user-name">
                            <p class="">برجر كنج</p>
                        </div>
                        <div class="user-email">
                            <p>Jesse@mail.com</p>
                        </div>
                        <div class="user-status">
                            <span class="badge outline-badge-danger">غير نشط</span>
                        </div>
                        <div class="action-btn">
                            <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg></p>
                        </div>
                    </div> 


                </div>

            </div>
        </div>
    </div>
</div>

{%endblock%}