{% extends "theme/index.html" %}
{% load static %}

<!--اسم المستخدم-->
{% block username %}
{{username}}
 {% endblock %}
 {% block username2 %}
 {{username}}
  {% endblock %}

<!--ًصورة المستخدم-->
  {% block profileImg %}
  <img alt="avatar" src="../../../{{img}}" class="rounded-circle">
  {% endblock %}
  {% block profileImg2 %}
  <img alt="avatar" src="../../../{{img}}" class="rounded-circle">
  {% endblock %}

{% block clients_home %}
<!-- التنبيهات-->
{% if messages %}
        {% for message in messages %}
            <input type="text" id="alert" value="{{ message }}" hidden >
        {% endfor %}
{% endif %}
<div class="container">
  <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="card">
              <div class="card-body">
                  <div>
                      <label>
                          <img src="{% static 'src/assets/img/Logo 2.svg' %}" alt="avatar" width="80px">
                          <b>{{pckName}}</b> 
                      </label>        
                  </div>
                      <!-- <h6 style="color:#02024B"> | الباقات</h6> -->
                      <a href="{% url 'packege' %}" class="btn btn-sm btn-primary"> العودة للباقات  </a>  
                      <a  href="#" data-toggle="modal" data-target="#add_sec"  class="btn btn-primary btn-sm" >+ إضافة عنوان رئيسي</a>
                      <a  href="#" data-toggle="modal" data-target="#upload"  class="btn btn-secondary btn-sm" >رفع ملف</a>
                    </div>
              </div>
          </div>
      </div>
  </div>
<!------------------------------------------------------------------------------------------------->

<!------------------------>
<div class="row">
  {% for t in titles %}
  <div class="col-lg-4 col-md-6 col-sm-12">
          <dic class="card mt-4 text-center shadow">
              <div class="card-header" style="background: #0ad0ac"></div>
              <div class="card-body"><h5 style="color:#02024b">{{t.section}}</h5></div>
              <div class="card-footer">
                <a href="{% url 'add_termsPage' t.id %}"  class="btn btn-primary btn-sm">إعداد البنود</a>
                <!-- <a href="{% url 'section_details' t.id %}" class="btn btn-primary btn-sm" >عرض </a> -->
                <!-- <a data-toggle="modal" data-target="#show{{t.id}}" class="btn btn-primary btn-sm" >البنود </a> -->
                <a data-toggle="modal" data-target="#edit_title{{t.id}}" class="btn btn-primary btn-sm">تغيير العنوان</a>
                <a href="{% url 'deleteTitle' t.id %}"  class="btn btn-danger btn-sm">حذف</a>

              </div>
          </dic>
      </div>
      {% endfor %}

</div>
<!--end-->


    {% for t in titles %}
<!-- Modal edit title -->
<div class="modal fade" id="edit_title{{t.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">تعديل العنوان</h5>
         
        </div>
        <div class="modal-body">
         
            <form  method="post" action="{% url 'update_term_title' t.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12  ">
                            <div class="form-group">
                               
                                    <input type="text" class="border-0 bg-light shadow-sm form-control" name="description" placeholder="العنوان" value="{{t.section}}">                 
                               
                               
                            </div>
                         </div>
                    </div>
        

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">اغلاق</button>
          <button  class="btn btn-primary btn-sm" type="submit" >تحديث</button>
        </form>

        </div>
      </div>
    </div>
  </div>

  <!--end model -->
{% endfor %}



<!-- Modal add title -->
<div class="modal fade" id="add_sec" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">إضافة عنوان رئيسي جديد</h5>
         
        </div>
        <div class="modal-body">         
            <form  method="post" action="{% url 'add_new_term_title' pkid %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12  ">
                            <div class="form-group">
                               
                                    <input type="text" class="form-control border-0 bg-light shadow-sm "   name="description" placeholder="اكتب العنوان">                 
                               
                               
                            </div>
                         </div>
                    </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">اغلاق</button>
          <button  class="btn btn-primary btn-sm" type="submit" >حفظ</button>
        </form>

        </div>
      </div>
    </div>
  </div>

  <!--end model -->


  <!-- Modal add title -->
   {% for t in titles %}

<div class="modal fade" id="show{{t.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{t.section}}</h5>
       
      </div>
      <div class="modal-body">
          {% for r in row %}
              {% if r.title_id == t.id %}
              <!-- هنا تعمل اللوب على التيرمز-->
             
              <table class="table table-striped">
                {% for trm in r.terms %}
                <tr>
                  <td>{{trm.description}}</td>
                  <td><a href="{% url 'delete_term' trm.id %}" class="btn btn-sm btn-danger">X</a></td>
                </tr>
                {% endfor %} 
              </table>   
            {% endif %}
          {% endfor %}           
      </div> 

    
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">اغلاق</button>
      </div>
    </div>
  </div>
</div>

{% endfor %}
<!--end model -->

<div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">رفع ملف </h5>
       
      </div>
      <div class="modal-body">
        <form action="{% url 'upload_packge_details' pkid %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file" name="excel_file" accept=".xlsx" required>
      </div> 
      <div class="modal-footer">
        <button type="submit" class="btn btn-sm btn-primary">رفع الملف</button>
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">اغلاق</button>
      </form>
      </div>
    </div>
  </div>
</div>



<script>
      let alerts= document.getElementById("alert").value;

      if( alerts == 'success'){
                Swal.fire({
                title: "تم الحفظ",
                text: "  قم  باضافة اقسام للباقة",
                icon: "success"
                });         
            }  else if( alerts == 'exist'){
                Swal.fire({
                title: "موجود مسبقاً",
                text: " العنوان الرئيسي المدخل موجود مسبقاً , قم بكتابة عنوان مختلف",
                icon: "error"
                });         
            } else if( alerts == 'successadd'){
                Swal.fire({
                  title: "تم الحفظ",
                  text: " تم حفظ العنوان الرئيسي بنجاح , قم الآن بإعداد البنود ",
                icon: "success"
                });         
            } else  if( alerts == 'update'){
                Swal.fire({
                title: "تم التعديل",
                text: "تم تعديل العنوان الرئيسي لمجموعة البنود بنجاح" ,
                icon: "success"
                });         
            } else  if( alerts == 'exist_terms'){
                Swal.fire({ 
                title: "لم يتم الحذف",
                text: "يوجد بنود تابع لعنوان الرئيسي , يجب حذف جميع البنود التابعه" ,
                icon: "info"
                });         
            } else  if( alerts == 'delete'){
                Swal.fire({ 
                title: "تم الحذف",
                text: "تم حذف العنوان الرئيسي" ,
                icon: "success"
                });         
            } else  if( alerts == 'success_upload'){
                Swal.fire({ 
                title: "تم رفع الملف ",
                text: "تم حفظ تفاصيل الباقه بنجاح" ,
                icon: "success"
                });         
            } else {
                Swal.fire({ 
                title: "خطأ",
                text: alerts ,
                icon: "error"
                });         
            }
</script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}