{% extends "theme/index.html" %}
{% load static %}

<!--اسم المستخدم-->
{% block username %}
{{username}}
 {% endblock %}
 {% block username2 %}
 {{username}}
  {% endblock %}

<!--ًصورة المستخدم-->
  {% block profileImg %}
  <img alt="avatar" src="../../../{{img}}" class="rounded-circle">
  {% endblock %}
  {% block profileImg2 %}
  <img alt="avatar" src="../../../{{img}}" class="rounded-circle">
  {% endblock %}

{% block clients_home %}
<p> <a href="{% url 'packege' %}" class="btn btn-sm btn-darck"> العودة للباقات  </a> >  <a href="{% url 'packege_details' pckid %}" class="btn btn-sm btn-darck" > العودة  {{pckName}}  </a> </p>

<!------------------------------------------------------------------------------------------------->


 
        <h5 style="color:#02024B" class="p-4">| بنود {{title}} </h5>

  
   
        <div class="card">
            <div class="row p-4">
           
        
                <div class="searchable-container col-lg-12">
                    {% for t in terms %}
                    <div class="items">
                        <div class="user-name">
                            <p>{{t}}</p>
                        </div>                
                        <div class="action-btn">
                            <a href="{% url 'delete_term' t.id %}"  class="badge outline-badge-danger">X</a>

                        </div>                
                    </div>   
                    {% endfor %}             
                </div>
            </div>  
        </div>


{% endblock %}