{% extends "theme/index.html" %}
{% load static %}
{% block clients_home %}
<!------------------------------------------------------------------------------------------------->

<div class=" card">
    <div class="card-header">
        <h4>عرض بنود {{title}}  
        </h4>

    </div>
   
        <div class="card-body">
            <div class="row">
           
        
                <div class="searchable-container col-lg-12">
                    {% for t in terms %}
                    <div class="items">
                        <div class="user-name">
                            <p>{{t}}</p>
                        </div>                
                        <div class="action-btn">
                            <a href="{% url 'delete_term' t.id %}"  class="badge outline-badge-danger">X</a>

                        </div>                
                    </div>   
                    {% endfor %}             
                </div>
            </div>  
        </div>
    </div>

{% endblock %}