{% extends "theme/index.html" %}
{% load static %}

<!--اسم المستخدم-->
{% block username %}
{{username}}
 {% endblock %}
 {% block username2 %}
 {{username}}
  {% endblock %}

<!--ًصورة المستخدم-->
  {% block profileImg %}
  <img alt="avatar" src="../../../{{img}}" class="rounded-circle">
  {% endblock %}
  {% block profileImg2 %}
  <img alt="avatar" src="../../../{{img}}" class="rounded-circle">
  {% endblock %}

{% block clients_home %}

 <div class="card">
    
        <div class="card-header">
            <h4>إضافة شركة جديدة</h4>
       
    </div>


    <div class="card-body">
                <!-- // The classic file input element we'll enhance
                // to a file pond, we moved the configuration
                // properties to JavaScript -->
            <form class="section general-info" method="post" action="{% url 'add_new_company' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="img-uploader-content mb-4">
                    <input type="file" name="companyLogo" required>
                </div>
                <div class="form-group">
                    <label for="fullName">اسم الشركة</label>
                    <input name="companyName" type="text" class="form-control mb-3"  placeholder="اسم الشركة" required>
                </div>
                <div class="form-group ">
                    <button type="submit" class="btn btn-dark">حفظ</button>
                </div>
            </form>
    </div><!--end card body -->
</div><!--end card  -->
    
</div>
</div>
{% endblock %}