{% extends "theme/index.html" %}
{% load static %}
{% block clients_home %}
<div class="row ">
    <div class="col-4 text-center">
        <h5><img src="../../../{{brandName.logo}}" alt="avatar" width="10%">      {{brandName}}<span > {% if pckName %}    |  {{pckName}} {% endif %}</h5>    </span>
        <a href="{% url 'brands_dashbord' companyId %}"  class="btn btn-sm btn-dark">  الرجوع للعلامات التجارية</a>
        <a href="#" class="btn btn-sm btn-dark  " data-toggle="modal" data-target="#location"> أماكن التفتيش </a>
    </div>
</div>
<div class="row  mt-2">

</div>
<div class="container ">
    <div class="input-group mt-4 mb-4 ">
        {% csrf_token %}
        <select class="form-control"  id="packege">
            <option>اضغط لاختيار الباقة</option>
            {% for p in pcks %}
            <option value="{{p.id}}">{{p.description}}</option>
            {% endfor %}
        </select>
      
        <button class="btn btn-success" type="button" onclick="save_packege()">تفعيل الباقة</button>
    </div>
    <div  class="card">
        <div class="card-body">
            <!-- <div class=" input-group  mb-3 mt-2" >
                <input type="text" class="form-control " name="inputField[]" placeholder="اكتب البند">
                <button class="btn btn-primary" type="button" onclick="addRow()">+</button>
            </div>
            <div id="inputContainer"> -->
                <!-- البنود الاضافيه تعرض هنا-->
            <!-- </div>  
            <button class="btn btn-primary mt-2" type="button" onclick="">إضافة</button>
            <button class="btn btn-success mt-2" type="button" onclick="add_term()">حفظ بنود التفتيش </button>
                <hr> -->
            <div  class="mb-3">
              
                  
                    <!-- <a href="#" class="badge badge-warning " data-toggle="modal" data-target="#exampleModalCenter{{t.id}}"> تخصيص القسم المسؤول</a>  -->
                    <br>
                    <div class="container mt-4">
                        <table class="table table-striped">
                            <tr>
                            <th>بنود تفتيش تقرير الجودة</th>
                            <th>الإدارات المسؤولة</th>
                            <th>تحديد المكان</th>
                        </tr>
                      
                        {% for trm in terms %}
                        
                        <tr>
                            <td>{{trm.description }}</td>
                            <td> <a href="#" class="badge badge-primary " data-toggle="modal" data-target="#responiple{{trm.id}}"> + </a> </td>
                            <td>zons <a href="#" class="badge badge-primary " data-toggle="modal" data-target="#zone{{trm.id}}"> + </a></td>
                        </tr>
                        {% endfor %}
                        </table>
                    </div>
                    
                  
              
                <!-- {% for t in terms %}
                <div class="input-group mb-3 mt-2">   
                    <input type="text" class="form-control" name="terms[]" value="{{t}}"/>  
                </div>
                {% endfor %}        -->
            </div>
        </div>

    </div>
</div>

{% for t in terms %}
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter{{t.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">اضافة مسؤول لمجموعة بنود تفتيش</h5>
                 
                </div>
                <div class="modal-body">
                 
                    <form class="section general-info pt-4" method="post" action="#" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12  pt-4">
                                    <div class="form-group">
                                        <div class="col-lg-12 layout-spacing"   >
                                            <select class="form-select" aria-label="Default select example" name="mngr">
                                                {% for s in secs %}
                                                <option value="{{s.id}}">{{s.description}}</option>
                                                {% endfor %}
                                            </select>                   
                                        </div>
                                    </div>
                                 </div>
                            </div>
                           
                </div>
                <div class="modal-footer">
                    <button  class="btn btn-primary" type="submit" >إضافة</button>    
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                </form>
                </div>
              </div>
            </div>
          </div>
          
{% endfor %}

{% for trm in terms %}

        <!-- Modal -->
        <div class="modal fade" id="responiple{{trm.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">اضافة مسؤول </h5>
                 
                </div>
                <div class="modal-body">
                 
                    <form class="section general-info pt-4" method="post" action="{% url 'insert_responsible'  brandId  trm.id%}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12  pt-4">
                                    <div class="form-group">
                                        <div class="col-lg-12 layout-spacing"   >
                                            <select class="form-select" aria-label="Default select example" name="secid">
                                                {% for s in secs %}
                                                <option value="{{s.id}}">{{s.description}}</option>
                                                {% endfor %}
                                            </select>                   
                                        </div>
                                    </div>
                                 </div>
                            </div>
                           
                </div>
                <div class="modal-footer">
                    <button  class="btn btn-primary" type="submit" >إضافة</button>    
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                </form>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}




{% for trm in terms %}

        <!-- Modal -->
        <div class="modal fade" id="zone{{trm.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">اضافة مكان </h5>
                 
                </div>
                <div class="modal-body">
                 
                    <form class="section general-info pt-4" method="post" action="#" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12  pt-4">
                                    <div class="form-group">
                                        <div class="col-lg-12 layout-spacing"   >
                                            <select class="form-select" aria-label="Default select example" name="mngr">
                                                {%if zones %}
                                                {% for z in zones %}
                                                <option value="{{z.id}}">{{z.name}}</option>
                                                {% endfor %}
                                                {% endif %}
                                            </select>                   
                                        </div>
                                    </div>
                                 </div>
                            </div>
                           
                </div>
                <div class="modal-footer">
                    <button  class="btn btn-primary" type="submit" >إضافة</button>    
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                </form>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}


     <!-- Modal -->
     <div class="modal fade" id="location" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">اضافة مكان تفتيش</h5>
             
            </div>
            <div class="modal-body">
             
                <form class="section general-info pt-4" method="post" action="{% url 'add_newZone' brandId %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12  pt-4">
                                <div class="form-group">
                                    <div class="col-lg-12 layout-spacing"   >
                                      <input type="text" class="form-control" name="name">          
                                    </div>
                                </div>
                             </div>
                        </div>
                        <table class="table table-striped">
                            {%if zones %}
                            {% for z in zones %}
                            <tr>
                                <td>{{z.name}} </td>
                            </tr>
                            
                            {% endfor %}
                            {% endif %}
                        </table>
                       
            </div>
            <div class="modal-footer">
                <button  class="btn btn-primary" type="submit" >إضافة</button>    
              <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
            </form>
            </div>
          </div>
        </div>
      </div>

<script>


function save_packege(){
    let userConfirmed = confirm("سيتم تفعيل الباقه, هل انت متأكد ؟");
    if (userConfirmed){
        let pck = document.getElementById('packege').value
    let brandId = '{{brandId}}'
    // let inputs = document.getElementsByName('terms[]');
    // console.log()
    // let row = [inputs]
    // inputs.forEach(input => {
    //     row.push(input.value);
      
    // });
    // console.log('i am values down')
    // console.log(row)
    // let terms = JSON.stringify(row)
///////////////////////////////حفظ الباقة/////////////////////////
    $.ajax({
            type: 'post',
            url:'/cloudteam/save_packege/',
            async: true,
            data:{
            pck : pck , 
            brandId : brandId, 
            //row : terms ,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
        } ,
        
            success:function(data){ 
                window.location = "{% url 'brand_terms' 1234 %}".replace(/1234/, brandId.toString());
                //alert("تم تفعيل الباقة بنجاح")
            },
            done:function(data){
                console.log('done ->>' + data)
            },
            error:function(data){
                console.log('error ->>' + data);

            }
    });
//////////////////////////////////////////////////////////////////
    }else{
        alert(" تم الالغاء")
    }
   
}

// وظيفة لإزالة الصف
function removeRow(button) {
    button.parentElement.remove();
}


   

function save_term() {
    // احصل على جميع حقول الإدخال في القائمة
    let inputs = document.getElementsByName('terms[]');
    inputs.forEach(input => {
        console.log(input.value);
    });
}
</script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}