{% extends "theme/index.html" %}
{% load static %}

<!--اسم المستخدم-->
{% block username %}
{{username}}
 {% endblock %}
 {% block username2 %}
 {{username}}
  {% endblock %}

<!--ًصورة المستخدم-->
  {% block profileImg %}
  <img alt="avatar" src="../../../{{img}}" class="rounded-circle">
  {% endblock %}
  {% block profileImg2 %}
  <img alt="avatar" src="../../../{{img}}" class="rounded-circle">
  {% endblock %}


{% block clients_home %}

<div class="col-lg-12 ">
   
    <div class="searchable-container card">
        <div class="card-header">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12 text-center">
                    <h4 alt="اضافة شركة">قائمة الشركات <a href="{% url 'add_new_company' %}" class="badge outline-badge-success " > + </a> </h4>
                    
                </div>
            </div>
        </div>
        <div class="row">
            {% for r in rows %}
            <div class="col-md-12">
               
                <div class="searchable-items">
                    <div class="items">
                        <div class="user-profile" >  
                            <img src="../../../{{r.logo}}" alt="avatar" >
                        </div>
                        <div class="user-name">
                            <p class="">{{r.description}}</p>
                        </div>
                      
                       
                        <div class="action-btn">
                          <a href="{% url 'brands_dashbord' r.id %} ">  <span class="badge outline-badge-warning">العلامات التجارية</span></a>
                            <!-- <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg></p> -->
                        </div>
                    </div>
                </div>
            {% endfor %}


                

            </div>
        </div>
    </div>
</div>

{%endblock%}